footer {
    padding: 0 2vh;
    color: #ffff;
    background-color: #171D1C;
    min-height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-copyright-and-p {
    display: flex;
    align-items: center;
    margin-left: 90vh;
    margin-right: 70vh;
}

.icon-copyright-and-p p {
    font-size: 20px;
}

.icon-copyright {
    height: 40px;
    width: 40px;
    margin: 0 2vh;
}

.icon-facebook {
    background-color: #ffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.icon-instagram {
    background-color: #ffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 1vh;
}

.icon-github {
    height: 40px;
    width: 40px;
    margin-left: 1vh;
}
