#banner__container {
    height: 15vh;
    width: auto;
    background-color: #FF9E45;
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid #FF9E45;
}

#usercard__container {
    height: 45vh;
    width: auto;
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
}

#card__wrapper {
    height: 35vh;
    width: 30vw;
    background-color: #FF8514;
    border-radius: 2rem;
    transition: 0.3s;
    display: flex;
}

#card__wrapper:hover {
    transform: translate(0, -5px);
    cursor: default;
}

#card__image {
    height: auto;
    width: 40%;
    background-color: #FF9E45;
    border-radius: 2rem 0 0 2rem;
}

#card__body {
    height: auto;
    width: 60%;
    padding: 2rem;
}

#card__body h4{
    margin: 2rem auto auto auto;
}

#tools__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 10vh;
    width: auto;
    background-color: #FF9E45;
}

#button__wrapper {
    background-color: white;
    height: 48px;
    width: 48px;
    border-radius: 0.75rem;
    transition: 0.3s;
}

#button__wrapper:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}

#banner__button__section {
    justify-content: center;
    align-items: end;
    display: flex;
    gap: 1rem;
}

#banner__button {
    height: 1rem;
    width: 1rem;
    border: 3px  white solid;
    border-radius: 3rem;
    background-color: #FF9E45;
    transition: 0.3s;
}

#banner__button:hover {
    background-color: #FF8514;
    cursor: pointer;
}

#banner__button:focus {
    background-color: white;
}